<!DOCTYPE html>
<html>

<head>

    <title>Checkout</title>

    <link rel="stylesheet"
    href="{{ url_for(
    'static',
    filename='css/style.css'
    ) }}">

</head>

<body>

    <div class="checkout">

        <h2>

            Checkout

        </h2>

        {% for item in cart %}

        <p>

            {{ item.name }}

            - ₹{{ item.price }}

        </p>

        {% endfor %}

        <hr>

        <h3>

            Total :

            ₹{{ total }}

        </h3>

        <form
        action="/apply_coupon"
        method="POST">

            <input
            type="text"
            name="code"
            placeholder="Enter Coupon Code">

            <button type="submit">

                Apply Coupon

            </button>

        </form>

        <br>

        <p>

            {{ message }}

        </p>

        <h3>

            Discount :

            {{ discount }}%

        </h3>

        <h2>

            Final Price :

            ₹{{ final_total }}

        </h2>

        <hr>

        <form
        action="/place_order"
        method="POST">

            <h3>

                Select Payment Method

            </h3>

            <input
            type="radio"
            name="payment_method"
            value="COD"
            checked>

            Cash On Delivery

            <br><br>

            <input
            type="radio"
            name="payment_method"
            value="Online">

            Online Payment

            <br><br>

            <button type="submit">

                Place Order

            </button>

        </form>

    </div>

</body>

</html>